.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.container img {
  border-radius: 5px;
  margin-bottom: 20px;
}

.container p {
  margin: 18px 0;
  font-size: 16px;
  color: hsl(216, 15%, 48%);
  font-weight: 400;
  line-height: 1.2;
}

.container h3 {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  font-weight: 700;
}
