.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
padding: none;
margin: none;
box-sizing: border-box;
}

body {
display: flex;
flex-direction: column;
height: 100vh;
background-color: hsl(212, 45%, 89%);
justify-content: center;
align-items: center;
}

.container {
    width: 300px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
